In [ ]:
import csv
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Mengatur path dari file csv**

**Tambahkan path folder yang berisikan file csv**

In [ ]:
csv_path = '/content/drive/MyDrive/BD - Praktek/oracle-hr-csv/'

Prosedur untuk membaca file

In [ ]:
def read_file(csv_file_name):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = csv.reader(csv_file, delimiter=',')
      line_count = 0
      for row in csv_reader:
          if line_count == 0:
              print(f'Nama kolom:')
          print(f'{row[0]}, {row[1]}, {row[2]}')
          line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

Memanggil procedure read_file atas nama file countries.csv

In [ ]:
read_file('countries.csv')

Nama kolom:
country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Indonesia, 1
ZL, New Zealand, 1
Processed 28 lines include header.

# Instruksi 1 : Definisi ulang read_file agar membaca file regions.csv dengan 2 kolom

In [ ]:
def read_file(csv_file_name):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = csv.reader(csv_file, delimiter=',')
      line_count = 0
      for row in csv_reader:
          if line_count == 0:
              print(f'Nama kolom:')
          print(', '.join(row))
          line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

In [ ]:
read_file('regions.csv')

Nama kolom:
region_id, region_name
1, Europe
2, Americas
3, Asia
4, 'Middle East and Africa'
Processed 5 lines include header.

In [ ]:
read_file('employees.csv')

Nama kolom:
employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id
100, Steven, King, SKING, 515.123.4567, 2003-06-17, AD_PRES, 24000, NULL, NULL, 90
101, Neena, Kochhar, NKOCHHAR, 515.123.4568, 2005-09-21, AD_VP, 17000, NULL, 100, 90
102, Lex, 'De Haan', LDEHAAN, 515.123.4569, 2001-01-13, AD_VP, 17000, NULL, 100, 90
103, Alexander, Hunold, AHUNOLD, 590.423.4567, 2006-01-03, IT_PROG, 9000, NULL, 102, 60
104, Bruce, Ernst, BERNST, 590.423.4568, 2007-05-21, IT_PROG, 6000, NULL, 103, 60
105, David, Austin, DAUSTIN, 590.423.4569, 2005-06-25, IT_PROG, 4800, NULL, 103, 60
106, Valli, Pataballa, VPATABAL, 590.423.4560, 2006-02-05, IT_PROG, 4800, NULL, 103, 60
107, Diana, Lorentz, DLORENTZ, 590.423.5567, 2007-02-07, IT_PROG, 4200, NULL, 103, 60
108, Nancy, Greenberg, NGREENBE, 515.124.4569, 2002-08-17, FI_MGR, 12008, NULL, 101, 100
109, Daniel, Faviet, DFAVIET, 515.124.4169, 2002-08-16, FI_ACCOUNT, 9000, NULL, 108, 100
110, John, Chen, JCHEN, 515.124.4269, 2005-09-28, FI_ACCOUNT, 8200, NULL, 108, 100
111, Ismael, Sciarra, ISCIARRA, 515.124.4369, 2005-09-30, FI_ACCOUNT, 7700, NULL, 108, 100
112, 'Jose Manuel', Urman, JMURMAN, 515.124.4469, 2006-03-07, FI_ACCOUNT, 7800, NULL, 108, 100
113, Luis, Popp, LPOPP, 515.124.4567, 2007-12-07, FI_ACCOUNT, 6900, NULL, 108, 100
114, Den, Raphaely, DRAPHEAL, 515.127.4561, 2002-12-07, PU_MAN, 11000, NULL, 100, 30
115, Alexander, Khoo, AKHOO, 515.127.4562, 2003-05-18, PU_CLERK, 3100, NULL, 114, 30
116, Shelli, Baida, SBAIDA, 515.127.4563, 2005-12-24, PU_CLERK, 2900, NULL, 114, 30
117, Sigal, Tobias, STOBIAS, 515.127.4564, 2005-07-24, PU_CLERK, 2800, NULL, 114, 30
118, Guy, Himuro, GHIMURO, 515.127.4565, 2006-11-15, PU_CLERK, 2600, NULL, 114, 30
119, Karen, Colmenares, KCOLMENA, 515.127.4566, 2007-08-10, PU_CLERK, 2500, NULL, 114, 30
120, Matthew, Weiss, MWEISS, 650.123.1234, 2004-07-18, ST_MAN, 8000, NULL, 100, 50
121, Adam, Fripp, AFRIPP, 650.123.2234, 2005-04-10, ST_MAN, 8200, NULL, 100, 50
122, Payam, Kaufling, PKAUFLIN, 650.123.3234, 2003-05-01, ST_MAN, 7900, NULL, 100, 50
123, Shanta, Vollman, SVOLLMAN, 650.123.4234, 2005-10-10, ST_MAN, 6500, NULL, 100, 50
124, Kevin, Mourgos, KMOURGOS, 650.123.5234, 2007-11-16, ST_MAN, 5800, NULL, 100, 50
125, Julia, Nayer, JNAYER, 650.124.1214, 2005-07-16, ST_CLERK, 3200, NULL, 120, 50
126, Irene, Mikkilineni, IMIKKILI, 650.124.1224, 2006-09-28, ST_CLERK, 2700, NULL, 120, 50
127, James, Landry, JLANDRY, 650.124.1334, 2007-01-14, ST_CLERK, 2400, NULL, 120, 50
128, Steven, Markle, SMARKLE, 650.124.1434, 2008-03-08, ST_CLERK, 2200, NULL, 120, 50
129, Laura, Bissot, LBISSOT, 650.124.5234, 2005-08-20, ST_CLERK, 3300, NULL, 121, 50
130, Mozhe, Atkinson, MATKINSO, 650.124.6234, 2005-10-30, ST_CLERK, 2800, NULL, 121, 50
131, James, Marlow, JAMRLOW, 650.124.7234, 2005-02-16, ST_CLERK, 2500, NULL, 121, 50
132, TJ, Olson, TJOLSON, 650.124.8234, 2007-04-10, ST_CLERK, 2100, NULL, 121, 50
133, Jason, Mallin, JMALLIN, 650.127.1934, 2004-06-14, ST_CLERK, 3300, NULL, 122, 50
134, Michael, Rogers, MROGERS, 650.127.1834, 2006-08-26, ST_CLERK, 2900, NULL, 122, 50
135, Ki, Gee, KGEE, 650.127.1734, 2007-12-12, ST_CLERK, 2400, NULL, 122, 50
136, Hazel, Philtanker, HPHILTAN, 650.127.1634, 2008-02-06, ST_CLERK, 2200, NULL, 122, 50
137, Renske, Ladwig, RLADWIG, 650.121.1234, 2003-07-14, ST_CLERK, 3600, NULL, 123, 50
138, Stephen, Stiles, SSTILES, 650.121.2034, 2005-10-26, ST_CLERK, 3200, NULL, 123, 50
139, John, Seo, JSEO, 650.121.2019, 2006-02-12, ST_CLERK, 2700, NULL, 123, 50
140, Joshua, Patel, JPATEL, 650.121.1834, 2006-04-06, ST_CLERK, 2500, NULL, 123, 50
141, Trenna, Rajs, TRAJS, 650.121.8009, 2003-10-17, ST_CLERK, 3500, NULL, 124, 50
142, Curtis, Davies, CDAVIES, 650.121.2994, 2005-01-29, ST_CLERK, 3100, NULL, 124, 50
143, Randall, Matos, RMATOS, 650.121.2874, 2006-03-15, ST_CLERK, 2600, NULL, 124, 50
144, Peter, Vargas, PVARGAS, 650.121.2004, 2006-07-09, ST_CLERK, 2500, NULL, 124, 50
145, John, Russell, JRUSSEL, 011.44.1344.429268, 2004-10-01, SA_MAN, 14000, 0.4, 100, 80
146, Karen, Partners, KPARTNER, 011.44.1344.467268, 2005-01-05, SA_MAN, 13500, 0.3, 100, 80
147, Alberto, Errazuriz, AERRAZUR, 011.44.1344.429278, 2005-03-10, SA_MAN, 12000, 0.3, 100, 80
148, Gerald, Cambrault, GCAMBRAU, 011.44.1344.619268, 2007-10-15, SA_MAN, 11000, 0.3, 100, 80
149, Eleni, Zlotkey, EZLOTKEY, 011.44.1344.429018, 2008-01-29, SA_MAN, 10500, 0.2, 100, 80
150, Peter, Tucker, PTUCKER, 011.44.1344.129268, 2005-01-30, SA_REP, 10000, 0.3, 145, 80
151, David, Bernstein, DBERNSTE, 011.44.1344.345268, 2005-03-24, SA_REP, 9500, 0.25, 145, 80
152, Peter, Hall, PHALL, 011.44.1344.478968, 2005-08-20, SA_REP, 9000, 0.25, 145, 80
153, Christopher, Olsen, COLSEN, 011.44.1344.498718, 2006-03-30, SA_REP, 8000, 0.2, 145, 80
154, Nanette, Cambrault, NCAMBRAU, 011.44.1344.987668, 2006-12-09, SA_REP, 7500, 0.2, 145, 80
155, Oliver, Tuvault, OTUVAULT, 011.44.1344.486508, 2007-11-23, SA_REP, 7000, 0.15, 145, 80
156, Janette, King, JKING, 011.44.1345.429268, 2004-01-30, SA_REP, 10000, 0.35, 146, 80
157, Patrick, Sully, PSULLY, 011.44.1345.929268, 2004-03-04, SA_REP, 9500, 0.35, 146, 80
158, Allan, McEwen, AMCEWEN, 011.44.1345.829268, 2004-08-01, SA_REP, 9000, 0.35, 146, 80
159, Lindsey, Smith, LSMITH, 011.44.1345.729268, 2005-03-10, SA_REP, 8000, 0.3, 146, 80
160, Louise, Doran, LDORAN, 011.44.1345.629268, 2005-12-15, SA_REP, 7500, 0.3, 146, 80
161, Sarath, Sewall, SSEWALL, 011.44.1345.529268, 2006-11-03, SA_REP, 7000, 0.25, 146, 80
162, Clara, Vishney, CVISHNEY, 011.44.1346.129268, 2005-11-11, SA_REP, 10500, 0.25, 147, 80
163, Danielle, Greene, DGREENE, 011.44.1346.229268, 2007-03-19, SA_REP, 9500, 0.15, 147, 80
164, Mattea, Marvins, MMARVINS, 011.44.1346.329268, 2008-01-24, SA_REP, 7200, 0.1, 147, 80
165, David, Lee, DLEE, 011.44.1346.529268, 2008-02-23, SA_REP, 6800, 0.1, 147, 80
166, Sundar, Ande, SANDE, 011.44.1346.629268, 2008-03-24, SA_REP, 6400, 0.1, 147, 80
167, Amit, Banda, ABANDA, 011.44.1346.729268, 2008-04-21, SA_REP, 6200, 0.1, 147, 80
168, Lisa, Ozer, LOZER, 011.44.1343.929268, 2005-03-11, SA_REP, 11500, 0.25, 148, 80
169, Harrison, Bloom, HBLOOM, 011.44.1343.829268, 2006-03-23, SA_REP, 10000, 0.2, 148, 80
170, Tayler, Fox, TFOX, 011.44.1343.729268, 2006-01-24, SA_REP, 9600, 0.2, 148, 80
171, William, Smith, WSMITH, 011.44.1343.629268, 2007-02-23, SA_REP, 7400, 0.15, 148, 80
172, Elizabeth, Bates, EBATES, 011.44.1343.529268, 2007-03-24, SA_REP, 7300, 0.15, 148, 80
173, Sundita, Kumar, SKUMAR, 011.44.1343.329268, 2008-04-21, SA_REP, 6100, 0.1, 148, 80
174, Ellen, Abel, EABEL, 011.44.1644.429267, 2004-05-11, SA_REP, 11000, 0.3, 149, 80
175, Alyssa, Hutton, AHUTTON, 011.44.1644.429266, 2005-03-19, SA_REP, 8800, 0.25, 149, 80
176, Jonathon, Taylor, JTAYLOR, 011.44.1644.429265, 2006-03-24, SA_REP, 8600, 0.2, 149, 80
177, Jack, Livingston, JLIVINGS, 011.44.1644.429264, 2006-04-23, SA_REP, 8400, 0.2, 149, 80
178, Kimberely, Grant, KGRANT, 011.44.1644.429263, 2007-05-24, SA_REP, 7000, 0.15, 149, NULL
179, Charles, Johnson, CJOHNSON, 011.44.1644.429262, 2008-01-04, SA_REP, 6200, 0.1, 149, 80
180, Winston, Taylor, WTAYLOR, 650.507.9876, 2006-01-24, SH_CLERK, 3200, NULL, 120, 50
181, Jean, Fleaur, JFLEAUR, 650.507.9877, 2006-02-23, SH_CLERK, 3100, NULL, 120, 50
182, Martha, Sullivan, MSULLIVA, 650.507.9878, 2007-06-21, SH_CLERK, 2500, NULL, 120, 50
183, Girard, Geoni, GGEONI, 650.507.9879, 2008-02-03, SH_CLERK, 2800, NULL, 120, 50
184, Nandita, Sarchand, NSARCHAN, 650.509.1876, 2004-01-27, SH_CLERK, 4200, NULL, 121, 50
185, Alexis, Bull, ABULL, 650.509.2876, 2005-02-20, SH_CLERK, 4100, NULL, 121, 50
186, Julia, Dellinger, JDELLING, 650.509.3876, 2006-06-24, SH_CLERK, 3400, NULL, 121, 50
187, Anthony, Cabrio, ACABRIO, 650.509.4876, 2007-02-07, SH_CLERK, 3000, NULL, 121, 50
188, Kelly, Chung, KCHUNG, 650.505.1876, 2005-06-14, SH_CLERK, 3800, NULL, 122, 50
189, Jennifer, Dilly, JDILLY, 650.505.2876, 2005-08-13, SH_CLERK, 3600, NULL, 122, 50
190, Timothy, Gates, TGATES, 650.505.3876, 2006-07-11, SH_CLERK, 2900, NULL, 122, 50
191, Randall, Perkins, RPERKINS, 650.505.4876, 2007-12-19, SH_CLERK, 2500, NULL, 122, 50
192, Sarah, Bell, SBELL, 650.501.1876, 2004-02-04, SH_CLERK, 4000, NULL, 123, 50
193, Britney, Everett, BEVERETT, 650.501.2876, 2005-03-03, SH_CLERK, 3900, NULL, 123, 50
194, Samuel, McCain, SMCCAIN, 650.501.3876, 2006-07-01, SH_CLERK, 3200, NULL, 123, 50
195, Vance, Jones, VJONES, 650.501.4876, 2007-03-17, SH_CLERK, 2800, NULL, 123, 50
196, Alana, Walsh, AWALSH, 650.507.9811, 2006-04-24, SH_CLERK, 3100, NULL, 124, 50
197, Kevin, Feeney, KFEENEY, 650.507.9822, 2006-05-23, SH_CLERK, 3000, NULL, 124, 50
198, Donald, OConnell, DOCONNEL, 650.507.9833, 2007-06-21, SH_CLERK, 2600, NULL, 124, 50
199, Douglas, Grant, DGRANT, 650.507.9844, 2008-01-13, SH_CLERK, 2600, NULL, 124, 50
200, Jennifer, Whalen, JWHALEN, 515.123.4444, 2003-09-17, AD_ASST, 4400, NULL, 101, 10
201, Michael, Hartstein, MHARTSTE, 515.123.5555, 2004-02-17, MK_MAN, 13000, NULL, 100, 20
202, Pat, Fay, PFAY, 603.123.6666, 2005-08-17, MK_REP, 6000, NULL, 201, 20
203, Susan, Mavris, SMAVRIS, 515.123.7777, 2002-06-07, HR_REP, 6500, NULL, 101, 40
204, Hermann, Baer, HBAER, 515.123.8888, 2002-06-07, PR_REP, 10000, NULL, 101, 70
205, Shelley, Higgins, SHIGGINS, 515.123.8080, 2002-06-07, AC_MGR, 12008, NULL, 101, 110
206, William, Gietz, WGIETZ, 515.123.8181, 2002-06-07, AC_ACCOUNT, 8300, NULL, 205, 110
Processed 108 lines include header.

# Instruksi 2 : Definisi ulang read_file agar dapat menampilkan kolom tertentu

In [ ]:
def read_file(csv_file_name, column_start=0, column_end=None):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = csv.reader(csv_file, delimiter=',')
      line_count = 0
      for row in csv_reader:
          if line_count == 0:
              print(f'Nama kolom:')
          print(', '.join(row[column_start:column_end]))
          line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

In [ ]:
read_file('employees.csv', 0, 3)

Nama kolom:
employee_id, first_name, last_name
100, Steven, King
101, Neena, Kochhar
102, Lex, 'De Haan'
103, Alexander, Hunold
104, Bruce, Ernst
105, David, Austin
106, Valli, Pataballa
107, Diana, Lorentz
108, Nancy, Greenberg
109, Daniel, Faviet
110, John, Chen
111, Ismael, Sciarra
112, 'Jose Manuel', Urman
113, Luis, Popp
114, Den, Raphaely
115, Alexander, Khoo
116, Shelli, Baida
117, Sigal, Tobias
118, Guy, Himuro
119, Karen, Colmenares
120, Matthew, Weiss
121, Adam, Fripp
122, Payam, Kaufling
123, Shanta, Vollman
124, Kevin, Mourgos
125, Julia, Nayer
126, Irene, Mikkilineni
127, James, Landry
128, Steven, Markle
129, Laura, Bissot
130, Mozhe, Atkinson
131, James, Marlow
132, TJ, Olson
133, Jason, Mallin
134, Michael, Rogers
135, Ki, Gee
136, Hazel, Philtanker
137, Renske, Ladwig
138, Stephen, Stiles
139, John, Seo
140, Joshua, Patel
141, Trenna, Rajs
142, Curtis, Davies
143, Randall, Matos
144, Peter, Vargas
145, John, Russell
146, Karen, Partners
147, Alberto, Errazuriz
148, Gerald, Cambrault
149, Eleni, Zlotkey
150, Peter, Tucker
151, David, Bernstein
152, Peter, Hall
153, Christopher, Olsen
154, Nanette, Cambrault
155, Oliver, Tuvault
156, Janette, King
157, Patrick, Sully
158, Allan, McEwen
159, Lindsey, Smith
160, Louise, Doran
161, Sarath, Sewall
162, Clara, Vishney
163, Danielle, Greene
164, Mattea, Marvins
165, David, Lee
166, Sundar, Ande
167, Amit, Banda
168, Lisa, Ozer
169, Harrison, Bloom
170, Tayler, Fox
171, William, Smith
172, Elizabeth, Bates
173, Sundita, Kumar
174, Ellen, Abel
175, Alyssa, Hutton
176, Jonathon, Taylor
177, Jack, Livingston
178, Kimberely, Grant
179, Charles, Johnson
180, Winston, Taylor
181, Jean, Fleaur
182, Martha, Sullivan
183, Girard, Geoni
184, Nandita, Sarchand
185, Alexis, Bull
186, Julia, Dellinger
187, Anthony, Cabrio
188, Kelly, Chung
189, Jennifer, Dilly
190, Timothy, Gates
191, Randall, Perkins
192, Sarah, Bell
193, Britney, Everett
194, Samuel, McCain
195, Vance, Jones
196, Alana, Walsh
197, Kevin, Feeney
198, Donald, OConnell
199, Douglas, Grant
200, Jennifer, Whalen
201, Michael, Hartstein
202, Pat, Fay
203, Susan, Mavris
204, Hermann, Baer
205, Shelley, Higgins
206, William, Gietz
Processed 108 lines include header.

In [ ]:
read_file('employees.csv',0)

Nama kolom:
employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id
100, Steven, King, SKING, 515.123.4567, 2003-06-17, AD_PRES, 24000, NULL, NULL, 90
101, Neena, Kochhar, NKOCHHAR, 515.123.4568, 2005-09-21, AD_VP, 17000, NULL, 100, 90
102, Lex, 'De Haan', LDEHAAN, 515.123.4569, 2001-01-13, AD_VP, 17000, NULL, 100, 90
103, Alexander, Hunold, AHUNOLD, 590.423.4567, 2006-01-03, IT_PROG, 9000, NULL, 102, 60
104, Bruce, Ernst, BERNST, 590.423.4568, 2007-05-21, IT_PROG, 6000, NULL, 103, 60
105, David, Austin, DAUSTIN, 590.423.4569, 2005-06-25, IT_PROG, 4800, NULL, 103, 60
106, Valli, Pataballa, VPATABAL, 590.423.4560, 2006-02-05, IT_PROG, 4800, NULL, 103, 60
107, Diana, Lorentz, DLORENTZ, 590.423.5567, 2007-02-07, IT_PROG, 4200, NULL, 103, 60
108, Nancy, Greenberg, NGREENBE, 515.124.4569, 2002-08-17, FI_MGR, 12008, NULL, 101, 100
109, Daniel, Faviet, DFAVIET, 515.124.4169, 2002-08-16, FI_ACCOUNT, 9000, NULL, 108, 100
110, John, Chen, JCHEN, 515.124.4269, 2005-09-28, FI_ACCOUNT, 8200, NULL, 108, 100
111, Ismael, Sciarra, ISCIARRA, 515.124.4369, 2005-09-30, FI_ACCOUNT, 7700, NULL, 108, 100
112, 'Jose Manuel', Urman, JMURMAN, 515.124.4469, 2006-03-07, FI_ACCOUNT, 7800, NULL, 108, 100
113, Luis, Popp, LPOPP, 515.124.4567, 2007-12-07, FI_ACCOUNT, 6900, NULL, 108, 100
114, Den, Raphaely, DRAPHEAL, 515.127.4561, 2002-12-07, PU_MAN, 11000, NULL, 100, 30
115, Alexander, Khoo, AKHOO, 515.127.4562, 2003-05-18, PU_CLERK, 3100, NULL, 114, 30
116, Shelli, Baida, SBAIDA, 515.127.4563, 2005-12-24, PU_CLERK, 2900, NULL, 114, 30
117, Sigal, Tobias, STOBIAS, 515.127.4564, 2005-07-24, PU_CLERK, 2800, NULL, 114, 30
118, Guy, Himuro, GHIMURO, 515.127.4565, 2006-11-15, PU_CLERK, 2600, NULL, 114, 30
119, Karen, Colmenares, KCOLMENA, 515.127.4566, 2007-08-10, PU_CLERK, 2500, NULL, 114, 30
120, Matthew, Weiss, MWEISS, 650.123.1234, 2004-07-18, ST_MAN, 8000, NULL, 100, 50
121, Adam, Fripp, AFRIPP, 650.123.2234, 2005-04-10, ST_MAN, 8200, NULL, 100, 50
122, Payam, Kaufling, PKAUFLIN, 650.123.3234, 2003-05-01, ST_MAN, 7900, NULL, 100, 50
123, Shanta, Vollman, SVOLLMAN, 650.123.4234, 2005-10-10, ST_MAN, 6500, NULL, 100, 50
124, Kevin, Mourgos, KMOURGOS, 650.123.5234, 2007-11-16, ST_MAN, 5800, NULL, 100, 50
125, Julia, Nayer, JNAYER, 650.124.1214, 2005-07-16, ST_CLERK, 3200, NULL, 120, 50
126, Irene, Mikkilineni, IMIKKILI, 650.124.1224, 2006-09-28, ST_CLERK, 2700, NULL, 120, 50
127, James, Landry, JLANDRY, 650.124.1334, 2007-01-14, ST_CLERK, 2400, NULL, 120, 50
128, Steven, Markle, SMARKLE, 650.124.1434, 2008-03-08, ST_CLERK, 2200, NULL, 120, 50
129, Laura, Bissot, LBISSOT, 650.124.5234, 2005-08-20, ST_CLERK, 3300, NULL, 121, 50
130, Mozhe, Atkinson, MATKINSO, 650.124.6234, 2005-10-30, ST_CLERK, 2800, NULL, 121, 50
131, James, Marlow, JAMRLOW, 650.124.7234, 2005-02-16, ST_CLERK, 2500, NULL, 121, 50
132, TJ, Olson, TJOLSON, 650.124.8234, 2007-04-10, ST_CLERK, 2100, NULL, 121, 50
133, Jason, Mallin, JMALLIN, 650.127.1934, 2004-06-14, ST_CLERK, 3300, NULL, 122, 50
134, Michael, Rogers, MROGERS, 650.127.1834, 2006-08-26, ST_CLERK, 2900, NULL, 122, 50
135, Ki, Gee, KGEE, 650.127.1734, 2007-12-12, ST_CLERK, 2400, NULL, 122, 50
136, Hazel, Philtanker, HPHILTAN, 650.127.1634, 2008-02-06, ST_CLERK, 2200, NULL, 122, 50
137, Renske, Ladwig, RLADWIG, 650.121.1234, 2003-07-14, ST_CLERK, 3600, NULL, 123, 50
138, Stephen, Stiles, SSTILES, 650.121.2034, 2005-10-26, ST_CLERK, 3200, NULL, 123, 50
139, John, Seo, JSEO, 650.121.2019, 2006-02-12, ST_CLERK, 2700, NULL, 123, 50
140, Joshua, Patel, JPATEL, 650.121.1834, 2006-04-06, ST_CLERK, 2500, NULL, 123, 50
141, Trenna, Rajs, TRAJS, 650.121.8009, 2003-10-17, ST_CLERK, 3500, NULL, 124, 50
142, Curtis, Davies, CDAVIES, 650.121.2994, 2005-01-29, ST_CLERK, 3100, NULL, 124, 50
143, Randall, Matos, RMATOS, 650.121.2874, 2006-03-15, ST_CLERK, 2600, NULL, 124, 50
144, Peter, Vargas, PVARGAS, 650.121.2004, 2006-07-09, ST_CLERK, 2500, NULL, 124, 50
145, John, Russell, JRUSSEL, 011.44.1344.429268, 2004-10-01, SA_MAN, 14000, 0.4, 100, 80
146, Karen, Partners, KPARTNER, 011.44.1344.467268, 2005-01-05, SA_MAN, 13500, 0.3, 100, 80
147, Alberto, Errazuriz, AERRAZUR, 011.44.1344.429278, 2005-03-10, SA_MAN, 12000, 0.3, 100, 80
148, Gerald, Cambrault, GCAMBRAU, 011.44.1344.619268, 2007-10-15, SA_MAN, 11000, 0.3, 100, 80
149, Eleni, Zlotkey, EZLOTKEY, 011.44.1344.429018, 2008-01-29, SA_MAN, 10500, 0.2, 100, 80
150, Peter, Tucker, PTUCKER, 011.44.1344.129268, 2005-01-30, SA_REP, 10000, 0.3, 145, 80
151, David, Bernstein, DBERNSTE, 011.44.1344.345268, 2005-03-24, SA_REP, 9500, 0.25, 145, 80
152, Peter, Hall, PHALL, 011.44.1344.478968, 2005-08-20, SA_REP, 9000, 0.25, 145, 80
153, Christopher, Olsen, COLSEN, 011.44.1344.498718, 2006-03-30, SA_REP, 8000, 0.2, 145, 80
154, Nanette, Cambrault, NCAMBRAU, 011.44.1344.987668, 2006-12-09, SA_REP, 7500, 0.2, 145, 80
155, Oliver, Tuvault, OTUVAULT, 011.44.1344.486508, 2007-11-23, SA_REP, 7000, 0.15, 145, 80
156, Janette, King, JKING, 011.44.1345.429268, 2004-01-30, SA_REP, 10000, 0.35, 146, 80
157, Patrick, Sully, PSULLY, 011.44.1345.929268, 2004-03-04, SA_REP, 9500, 0.35, 146, 80
158, Allan, McEwen, AMCEWEN, 011.44.1345.829268, 2004-08-01, SA_REP, 9000, 0.35, 146, 80
159, Lindsey, Smith, LSMITH, 011.44.1345.729268, 2005-03-10, SA_REP, 8000, 0.3, 146, 80
160, Louise, Doran, LDORAN, 011.44.1345.629268, 2005-12-15, SA_REP, 7500, 0.3, 146, 80
161, Sarath, Sewall, SSEWALL, 011.44.1345.529268, 2006-11-03, SA_REP, 7000, 0.25, 146, 80
162, Clara, Vishney, CVISHNEY, 011.44.1346.129268, 2005-11-11, SA_REP, 10500, 0.25, 147, 80
163, Danielle, Greene, DGREENE, 011.44.1346.229268, 2007-03-19, SA_REP, 9500, 0.15, 147, 80
164, Mattea, Marvins, MMARVINS, 011.44.1346.329268, 2008-01-24, SA_REP, 7200, 0.1, 147, 80
165, David, Lee, DLEE, 011.44.1346.529268, 2008-02-23, SA_REP, 6800, 0.1, 147, 80
166, Sundar, Ande, SANDE, 011.44.1346.629268, 2008-03-24, SA_REP, 6400, 0.1, 147, 80
167, Amit, Banda, ABANDA, 011.44.1346.729268, 2008-04-21, SA_REP, 6200, 0.1, 147, 80
168, Lisa, Ozer, LOZER, 011.44.1343.929268, 2005-03-11, SA_REP, 11500, 0.25, 148, 80
169, Harrison, Bloom, HBLOOM, 011.44.1343.829268, 2006-03-23, SA_REP, 10000, 0.2, 148, 80
170, Tayler, Fox, TFOX, 011.44.1343.729268, 2006-01-24, SA_REP, 9600, 0.2, 148, 80
171, William, Smith, WSMITH, 011.44.1343.629268, 2007-02-23, SA_REP, 7400, 0.15, 148, 80
172, Elizabeth, Bates, EBATES, 011.44.1343.529268, 2007-03-24, SA_REP, 7300, 0.15, 148, 80
173, Sundita, Kumar, SKUMAR, 011.44.1343.329268, 2008-04-21, SA_REP, 6100, 0.1, 148, 80
174, Ellen, Abel, EABEL, 011.44.1644.429267, 2004-05-11, SA_REP, 11000, 0.3, 149, 80
175, Alyssa, Hutton, AHUTTON, 011.44.1644.429266, 2005-03-19, SA_REP, 8800, 0.25, 149, 80
176, Jonathon, Taylor, JTAYLOR, 011.44.1644.429265, 2006-03-24, SA_REP, 8600, 0.2, 149, 80
177, Jack, Livingston, JLIVINGS, 011.44.1644.429264, 2006-04-23, SA_REP, 8400, 0.2, 149, 80
178, Kimberely, Grant, KGRANT, 011.44.1644.429263, 2007-05-24, SA_REP, 7000, 0.15, 149, NULL
179, Charles, Johnson, CJOHNSON, 011.44.1644.429262, 2008-01-04, SA_REP, 6200, 0.1, 149, 80
180, Winston, Taylor, WTAYLOR, 650.507.9876, 2006-01-24, SH_CLERK, 3200, NULL, 120, 50
181, Jean, Fleaur, JFLEAUR, 650.507.9877, 2006-02-23, SH_CLERK, 3100, NULL, 120, 50
182, Martha, Sullivan, MSULLIVA, 650.507.9878, 2007-06-21, SH_CLERK, 2500, NULL, 120, 50
183, Girard, Geoni, GGEONI, 650.507.9879, 2008-02-03, SH_CLERK, 2800, NULL, 120, 50
184, Nandita, Sarchand, NSARCHAN, 650.509.1876, 2004-01-27, SH_CLERK, 4200, NULL, 121, 50
185, Alexis, Bull, ABULL, 650.509.2876, 2005-02-20, SH_CLERK, 4100, NULL, 121, 50
186, Julia, Dellinger, JDELLING, 650.509.3876, 2006-06-24, SH_CLERK, 3400, NULL, 121, 50
187, Anthony, Cabrio, ACABRIO, 650.509.4876, 2007-02-07, SH_CLERK, 3000, NULL, 121, 50
188, Kelly, Chung, KCHUNG, 650.505.1876, 2005-06-14, SH_CLERK, 3800, NULL, 122, 50
189, Jennifer, Dilly, JDILLY, 650.505.2876, 2005-08-13, SH_CLERK, 3600, NULL, 122, 50
190, Timothy, Gates, TGATES, 650.505.3876, 2006-07-11, SH_CLERK, 2900, NULL, 122, 50
191, Randall, Perkins, RPERKINS, 650.505.4876, 2007-12-19, SH_CLERK, 2500, NULL, 122, 50
192, Sarah, Bell, SBELL, 650.501.1876, 2004-02-04, SH_CLERK, 4000, NULL, 123, 50
193, Britney, Everett, BEVERETT, 650.501.2876, 2005-03-03, SH_CLERK, 3900, NULL, 123, 50
194, Samuel, McCain, SMCCAIN, 650.501.3876, 2006-07-01, SH_CLERK, 3200, NULL, 123, 50
195, Vance, Jones, VJONES, 650.501.4876, 2007-03-17, SH_CLERK, 2800, NULL, 123, 50
196, Alana, Walsh, AWALSH, 650.507.9811, 2006-04-24, SH_CLERK, 3100, NULL, 124, 50
197, Kevin, Feeney, KFEENEY, 650.507.9822, 2006-05-23, SH_CLERK, 3000, NULL, 124, 50
198, Donald, OConnell, DOCONNEL, 650.507.9833, 2007-06-21, SH_CLERK, 2600, NULL, 124, 50
199, Douglas, Grant, DGRANT, 650.507.9844, 2008-01-13, SH_CLERK, 2600, NULL, 124, 50
200, Jennifer, Whalen, JWHALEN, 515.123.4444, 2003-09-17, AD_ASST, 4400, NULL, 101, 10
201, Michael, Hartstein, MHARTSTE, 515.123.5555, 2004-02-17, MK_MAN, 13000, NULL, 100, 20
202, Pat, Fay, PFAY, 603.123.6666, 2005-08-17, MK_REP, 6000, NULL, 201, 20
203, Susan, Mavris, SMAVRIS, 515.123.7777, 2002-06-07, HR_REP, 6500, NULL, 101, 40
204, Hermann, Baer, HBAER, 515.123.8888, 2002-06-07, PR_REP, 10000, NULL, 101, 70
205, Shelley, Higgins, SHIGGINS, 515.123.8080, 2002-06-07, AC_MGR, 12008, NULL, 101, 110
206, William, Gietz, WGIETZ, 515.123.8181, 2002-06-07, AC_ACCOUNT, 8300, NULL, 205, 110
Processed 108 lines include header.

In [ ]:
read_file('employees.csv',3,5)

Nama kolom:
email, phone_number
SKING, 515.123.4567
NKOCHHAR, 515.123.4568
LDEHAAN, 515.123.4569
AHUNOLD, 590.423.4567
BERNST, 590.423.4568
DAUSTIN, 590.423.4569
VPATABAL, 590.423.4560
DLORENTZ, 590.423.5567
NGREENBE, 515.124.4569
DFAVIET, 515.124.4169
JCHEN, 515.124.4269
ISCIARRA, 515.124.4369
JMURMAN, 515.124.4469
LPOPP, 515.124.4567
DRAPHEAL, 515.127.4561
AKHOO, 515.127.4562
SBAIDA, 515.127.4563
STOBIAS, 515.127.4564
GHIMURO, 515.127.4565
KCOLMENA, 515.127.4566
MWEISS, 650.123.1234
AFRIPP, 650.123.2234
PKAUFLIN, 650.123.3234
SVOLLMAN, 650.123.4234
KMOURGOS, 650.123.5234
JNAYER, 650.124.1214
IMIKKILI, 650.124.1224
JLANDRY, 650.124.1334
SMARKLE, 650.124.1434
LBISSOT, 650.124.5234
MATKINSO, 650.124.6234
JAMRLOW, 650.124.7234
TJOLSON, 650.124.8234
JMALLIN, 650.127.1934
MROGERS, 650.127.1834
KGEE, 650.127.1734
HPHILTAN, 650.127.1634
RLADWIG, 650.121.1234
SSTILES, 650.121.2034
JSEO, 650.121.2019
JPATEL, 650.121.1834
TRAJS, 650.121.8009
CDAVIES, 650.121.2994
RMATOS, 650.121.2874
PVARGAS, 650.121.2004
JRUSSEL, 011.44.1344.429268
KPARTNER, 011.44.1344.467268
AERRAZUR, 011.44.1344.429278
GCAMBRAU, 011.44.1344.619268
EZLOTKEY, 011.44.1344.429018
PTUCKER, 011.44.1344.129268
DBERNSTE, 011.44.1344.345268
PHALL, 011.44.1344.478968
COLSEN, 011.44.1344.498718
NCAMBRAU, 011.44.1344.987668
OTUVAULT, 011.44.1344.486508
JKING, 011.44.1345.429268
PSULLY, 011.44.1345.929268
AMCEWEN, 011.44.1345.829268
LSMITH, 011.44.1345.729268
LDORAN, 011.44.1345.629268
SSEWALL, 011.44.1345.529268
CVISHNEY, 011.44.1346.129268
DGREENE, 011.44.1346.229268
MMARVINS, 011.44.1346.329268
DLEE, 011.44.1346.529268
SANDE, 011.44.1346.629268
ABANDA, 011.44.1346.729268
LOZER, 011.44.1343.929268
HBLOOM, 011.44.1343.829268
TFOX, 011.44.1343.729268
WSMITH, 011.44.1343.629268
EBATES, 011.44.1343.529268
SKUMAR, 011.44.1343.329268
EABEL, 011.44.1644.429267
AHUTTON, 011.44.1644.429266
JTAYLOR, 011.44.1644.429265
JLIVINGS, 011.44.1644.429264
KGRANT, 011.44.1644.429263
CJOHNSON, 011.44.1644.429262
WTAYLOR, 650.507.9876
JFLEAUR, 650.507.9877
MSULLIVA, 650.507.9878
GGEONI, 650.507.9879
NSARCHAN, 650.509.1876
ABULL, 650.509.2876
JDELLING, 650.509.3876
ACABRIO, 650.509.4876
KCHUNG, 650.505.1876
JDILLY, 650.505.2876
TGATES, 650.505.3876
RPERKINS, 650.505.4876
SBELL, 650.501.1876
BEVERETT, 650.501.2876
SMCCAIN, 650.501.3876
VJONES, 650.501.4876
AWALSH, 650.507.9811
KFEENEY, 650.507.9822
DOCONNEL, 650.507.9833
DGRANT, 650.507.9844
JWHALEN, 515.123.4444
MHARTSTE, 515.123.5555
PFAY, 603.123.6666
SMAVRIS, 515.123.7777
HBAER, 515.123.8888
SHIGGINS, 515.123.8080
WGIETZ, 515.123.8181
Processed 108 lines include header.

# Instruksi 3 : Definisi ulang read_file agar dapat membatasi baris yang dicetak

In [ ]:
def read_file(csv_file_name, column_start=0, column_end=None, limit=None):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        line_count = 0

        header = next(csv_reader)
        print(f'Column names: ')
        print(', '.join(header[column_start:column_end]))

        for row in csv_reader:
            if limit is not None and line_count >= limit:
                break

            print(', '.join(row[column_start:column_end]))
            line_count += 1

        print(f'Processed {line_count} lines (excluding header).')
  csv_file.close()

In [ ]:
read_file('employees.csv',3,5,10)

Column names:
email, phone_number
SKING, 515.123.4567
NKOCHHAR, 515.123.4568
LDEHAAN, 515.123.4569
AHUNOLD, 590.423.4567
BERNST, 590.423.4568
DAUSTIN, 590.423.4569
VPATABAL, 590.423.4560
DLORENTZ, 590.423.5567
NGREENBE, 515.124.4569
DFAVIET, 515.124.4169
Processed 10 lines (excluding header).

# Instruksi 4 : Definisi ulang read_file agar dapat melakukan sortir pada kolom pertama

In [ ]:
def sort_key(item):
    return item[0]

def read_file(csv_file_name, column_start, column_end, limit, sort=0):
    with open(csv_path + csv_file_name, mode='r') as csv_file:
        reader = csv.reader(csv_file)

        header = next(reader)
        print(f'{header[column_start]}, {header[column_end]}')

        data = [row[column_start:column_end + 1] for row in reader][:limit]

        if sort == 1:
            data.sort(key=sort_key)
        elif sort == -1:
            data.sort(key=sort_key, reverse=True)

        for row in data:
            print(f'{row[0]}, {row[-1]}')

        print(f'Processed {len(data) + 1} lines include header.')

    csv_file.close()

In [ ]:
read_file('employees.csv', 3, 5, 10, -1)

email, hire_date
VPATABAL, 2006-02-05
SKING, 2003-06-17
NKOCHHAR, 2005-09-21
NGREENBE, 2002-08-17
LDEHAAN, 2001-01-13
DLORENTZ, 2007-02-07
DFAVIET, 2002-08-16
DAUSTIN, 2005-06-25
BERNST, 2007-05-21
AHUNOLD, 2006-01-03
Processed 11 lines include header.

In [ ]:
read_file('employees.csv', 3,5,10,1)

email, hire_date
AHUNOLD, 2006-01-03
BERNST, 2007-05-21
DAUSTIN, 2005-06-25
DFAVIET, 2002-08-16
DLORENTZ, 2007-02-07
LDEHAAN, 2001-01-13
NGREENBE, 2002-08-17
NKOCHHAR, 2005-09-21
SKING, 2003-06-17
VPATABAL, 2006-02-05
Processed 11 lines include header.

# Instruksi 5 : Definisi baru find_file menampilkan data berdasarkan kata kunci

In [ ]:
def find_file(csv_file_name, index_column, keyword):
    with open(csv_path + csv_file_name, mode='r') as csv_file:
        reader = csv.reader(csv_file)
        header = next(reader)
        print(', '.join(header), {header[index_column]})

        for row in reader:
            if keyword in row[index_column]:
                print(', '.join(row), {row[index_column]})

    csv_file.close()

# Instruksi 6 : Menggunakan procedure find_file

In [ ]:
find_file('employees.csv', 5, '2004')

employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id {'hire_date'}
120, Matthew, Weiss, MWEISS, 650.123.1234, 2004-07-18, ST_MAN, 8000, NULL, 100, 50 {'2004-07-18'}
133, Jason, Mallin, JMALLIN, 650.127.1934, 2004-06-14, ST_CLERK, 3300, NULL, 122, 50 {'2004-06-14'}
145, John, Russell, JRUSSEL, 011.44.1344.429268, 2004-10-01, SA_MAN, 14000, 0.4, 100, 80 {'2004-10-01'}
156, Janette, King, JKING, 011.44.1345.429268, 2004-01-30, SA_REP, 10000, 0.35, 146, 80 {'2004-01-30'}
157, Patrick, Sully, PSULLY, 011.44.1345.929268, 2004-03-04, SA_REP, 9500, 0.35, 146, 80 {'2004-03-04'}
158, Allan, McEwen, AMCEWEN, 011.44.1345.829268, 2004-08-01, SA_REP, 9000, 0.35, 146, 80 {'2004-08-01'}
174, Ellen, Abel, EABEL, 011.44.1644.429267, 2004-05-11, SA_REP, 11000, 0.3, 149, 80 {'2004-05-11'}
184, Nandita, Sarchand, NSARCHAN, 650.509.1876, 2004-01-27, SH_CLERK, 4200, NULL, 121, 50 {'2004-01-27'}
192, Sarah, Bell, SBELL, 650.501.1876, 2004-02-04, SH_CLERK, 4000, NULL, 123, 50 {'2004-02-04'}
201, Michael, Hartstein, MHARTSTE, 515.123.5555, 2004-02-17, MK_MAN, 13000, NULL, 100, 20 {'2004-02-17'}

# Instruksi 7 : Menggunakan procedure find_file

In [ ]:
find_file('employees.csv', 6, 'SA_REP')

employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id {'job_id'}
150, Peter, Tucker, PTUCKER, 011.44.1344.129268, 2005-01-30, SA_REP, 10000, 0.3, 145, 80 {'SA_REP'}
151, David, Bernstein, DBERNSTE, 011.44.1344.345268, 2005-03-24, SA_REP, 9500, 0.25, 145, 80 {'SA_REP'}
152, Peter, Hall, PHALL, 011.44.1344.478968, 2005-08-20, SA_REP, 9000, 0.25, 145, 80 {'SA_REP'}
153, Christopher, Olsen, COLSEN, 011.44.1344.498718, 2006-03-30, SA_REP, 8000, 0.2, 145, 80 {'SA_REP'}
154, Nanette, Cambrault, NCAMBRAU, 011.44.1344.987668, 2006-12-09, SA_REP, 7500, 0.2, 145, 80 {'SA_REP'}
155, Oliver, Tuvault, OTUVAULT, 011.44.1344.486508, 2007-11-23, SA_REP, 7000, 0.15, 145, 80 {'SA_REP'}
156, Janette, King, JKING, 011.44.1345.429268, 2004-01-30, SA_REP, 10000, 0.35, 146, 80 {'SA_REP'}
157, Patrick, Sully, PSULLY, 011.44.1345.929268, 2004-03-04, SA_REP, 9500, 0.35, 146, 80 {'SA_REP'}
158, Allan, McEwen, AMCEWEN, 011.44.1345.829268, 2004-08-01, SA_REP, 9000, 0.35, 146, 80 {'SA_REP'}
159, Lindsey, Smith, LSMITH, 011.44.1345.729268, 2005-03-10, SA_REP, 8000, 0.3, 146, 80 {'SA_REP'}
160, Louise, Doran, LDORAN, 011.44.1345.629268, 2005-12-15, SA_REP, 7500, 0.3, 146, 80 {'SA_REP'}
161, Sarath, Sewall, SSEWALL, 011.44.1345.529268, 2006-11-03, SA_REP, 7000, 0.25, 146, 80 {'SA_REP'}
162, Clara, Vishney, CVISHNEY, 011.44.1346.129268, 2005-11-11, SA_REP, 10500, 0.25, 147, 80 {'SA_REP'}
163, Danielle, Greene, DGREENE, 011.44.1346.229268, 2007-03-19, SA_REP, 9500, 0.15, 147, 80 {'SA_REP'}
164, Mattea, Marvins, MMARVINS, 011.44.1346.329268, 2008-01-24, SA_REP, 7200, 0.1, 147, 80 {'SA_REP'}
165, David, Lee, DLEE, 011.44.1346.529268, 2008-02-23, SA_REP, 6800, 0.1, 147, 80 {'SA_REP'}
166, Sundar, Ande, SANDE, 011.44.1346.629268, 2008-03-24, SA_REP, 6400, 0.1, 147, 80 {'SA_REP'}
167, Amit, Banda, ABANDA, 011.44.1346.729268, 2008-04-21, SA_REP, 6200, 0.1, 147, 80 {'SA_REP'}
168, Lisa, Ozer, LOZER, 011.44.1343.929268, 2005-03-11, SA_REP, 11500, 0.25, 148, 80 {'SA_REP'}
169, Harrison, Bloom, HBLOOM, 011.44.1343.829268, 2006-03-23, SA_REP, 10000, 0.2, 148, 80 {'SA_REP'}
170, Tayler, Fox, TFOX, 011.44.1343.729268, 2006-01-24, SA_REP, 9600, 0.2, 148, 80 {'SA_REP'}
171, William, Smith, WSMITH, 011.44.1343.629268, 2007-02-23, SA_REP, 7400, 0.15, 148, 80 {'SA_REP'}
172, Elizabeth, Bates, EBATES, 011.44.1343.529268, 2007-03-24, SA_REP, 7300, 0.15, 148, 80 {'SA_REP'}
173, Sundita, Kumar, SKUMAR, 011.44.1343.329268, 2008-04-21, SA_REP, 6100, 0.1, 148, 80 {'SA_REP'}
174, Ellen, Abel, EABEL, 011.44.1644.429267, 2004-05-11, SA_REP, 11000, 0.3, 149, 80 {'SA_REP'}
175, Alyssa, Hutton, AHUTTON, 011.44.1644.429266, 2005-03-19, SA_REP, 8800, 0.25, 149, 80 {'SA_REP'}
176, Jonathon, Taylor, JTAYLOR, 011.44.1644.429265, 2006-03-24, SA_REP, 8600, 0.2, 149, 80 {'SA_REP'}
177, Jack, Livingston, JLIVINGS, 011.44.1644.429264, 2006-04-23, SA_REP, 8400, 0.2, 149, 80 {'SA_REP'}
178, Kimberely, Grant, KGRANT, 011.44.1644.429263, 2007-05-24, SA_REP, 7000, 0.15, 149, NULL {'SA_REP'}
179, Charles, Johnson, CJOHNSON, 011.44.1644.429262, 2008-01-04, SA_REP, 6200, 0.1, 149, 80 {'SA_REP'}

# Instruksi 8 : Definisi procedure insert_file (memasukkan data baru ke posisi baris paling akhir)

In [ ]:
def insert_file(csv_file_name, list_data):
    with open(csv_path + csv_file_name, mode='a', newline='') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(list_data)
    csv_file.close()

In [ ]:
insert_file('countries.csv', ['ID', 'Indonesia', 1])

In [ ]:
insert_file('countries.csv', ['ZL', 'New Zealand', 1])

In [ ]:
read_file('countries.csv')

Nama kolom:
country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Indonesia, 1
ZL, New Zealand, 1
Processed 28 lines include header.

# Instruksi 9 : Definisi update_file (mengubah satu data yang sudah ada berdasarkan kolom pertama)

In [34]:
def update_file(csv_file_name, keyword, index_column, new_value):
    # Membaca data dari file CSV
    rows = []

    with open(csv_path + csv_file_name, 'r') as csv_file:
        reader = csv.reader(csv_file)
        headers = next(reader)  # Membaca header jika ada
        for row in reader:
            rows.append(row)

    # Memperbarui nilai pada kolom index_column yang berbeda
    for row in rows:
        if row[0] == keyword:  # Memastikan pencarian berdasarkan kolom pertama
            row[index_column] = str(new_value)  # Mengubah nilai pada kolom yang diinginkan

    # Menulis kembali data ke dalam file CSV
    with open(csv_path + csv_file_name, 'w', newline='') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(headers)  # Menulis kembali header
        writer.writerows(rows)  # Menulis kembali baris yang sudah diperbarui

In [35]:
update_file('countries.csv', 'ID', 2, 3)

In [36]:
read_file('countries.csv')

Nama kolom:
country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Indonesia, 3
Processed 27 lines include header.

# Instruksi 10 : Definisi delete_file (menghapus baris yang akan dihapus berdasarkan kolom paling pertama)

In [ ]:
def delete_file(csv_file_name, keyword):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
    reader = csv.reader(csv_file)
    data = [row for row in reader if row[0] != keyword]
  csv_file.close()

  with open(csv_path + csv_file_name, mode='w', newline='') as csv_file:
    writer = csv.writer(csv_file)
    writer.writerows(data)
  csv_file.close()

In [ ]:
delete_file('countries.csv', 'ZL')

In [ ]:
read_file('countries.csv')

Nama kolom:
country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Indonesia, 3
Processed 27 lines include header.